.profile__job {
    max-width: 336px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 11px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 540px) {
    .profile__job {
        max-width: 280px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
}