.page {
    font-family: 'Inter', ‘Arial’, sans-serif;
    max-width: 880px;
    min-width: 320px;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}